lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules/
pids
logs
results
urls.txt
wiki_files/*
!wiki_files/miniwiki
!wiki_files/index.wiki
npm-debug.log
i18n.js
static/js/socket.io.js
static/components/*

