<!doctype html>
<meta charset="utf-8">
<title>miniwiki</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<% if (navbar == 'fixed') { %>
<link href="/static/css/fixed.css" rel="stylesheet">
<% } %>
    <link href="/static/css/main.css" rel="stylesheet">
<% if (session.nightMode == true) { %>
    <link class="night theme" href="/static/css/night.theme.css" rel="stylesheet">
<% } %>
<div class="paranja"><div class="loading"><img src="/static/img/ajax.gif" alt=""></div></div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">miniwiki</a>
            <% if (config.useAuth) { %>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= login %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/logout"><%= i18n.logout %></a></li>
                </ul>
            </div>
            <% } %>
            <div class="pull-right night-toggle">
                <a href="#" class="btn btn-inverse"><i class="icon-eye-open icon-white"></i></a>
            </div>
        </div>
    </div>
</div>

