<% include header %>
<div class="container-fluid body">
    <div class="row-fluid">
    	<div class="well">
	    	<h1>Добро пожаловать!</h1>

		    <h2>Все разделы:</h2>
		    <ul>
		        <% pages.forEach(function(page){ %>
		        <li><h3><a class="wiki-link" href="/wiki/<%= page.id %>"><%= page.header %></a></h3></li>
		        <% }) %>
		    </ul>
	    </div>
    </div>
</div>
<% include footer %>