<!doctype html>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<div class="span3 login-form">
    <h2>miniwiki</h2>
    <form action="/" method="POST">
    <label><%= i18n.Login %></label>
    <input type="text" value="" name="login" class="span3">
    <label><%= i18n.Password %></label>
    <input type="password"  value="" name="pass" class="span3">
    <input type="submit" value="Войти" class="btn btn-success">
    <div class="clearfix"></div>
    </form>
</div>
