<script type="text/html" class="t-alert">
    <div id="{{id}}" class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{{head}}</h4>
        {{text}}
    </div>
</script>
<script type="text/html" class="t-headers">
    <div class="wiki-headers well">
        <h3>{{heading}}</h3>
        <ul>
            {{#headers}}
                <li><a href="#{{.}}">{{.}}</a></li>
            {{/headers}}
        </ul>
    </div>
</script>

